/* Some styling required to adjust things Bootstrap can not, should be configured with Bootstrap in the future. */
.mtn-5{
  margin-top: -15%;
}

.mtl-5{
  margin-left: -17%;
}

.p-1px {
  padding: 1px;
}